/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Global
# Header
# Footer
# Menu
# Block
# Form
# Other
# Responsive
*/
/* ==========================================================================================================
										Global
   ========================================================================================================== */
html {
  overflow-x: hidden;
}

input,
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", "sans-serif";
}

.center {
  text-align: center;
}

.modal-content {
  border: none;
  background: transparent;
}

.modal-backdrop {
  background-color: #000;
}

.modal-backdrop.show {
  opacity: 0.8;
}

/* ==========================================================================================================
										Header
   ========================================================================================================== */
.header-fixed {
  background: transparent;
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.header-fixed.fixed {
  background: #584ed1;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

#na-header-wrapper {
  width: 100%;
  background: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 850px;
  left: 0;
  top: 0;
  z-index: 1;
}

#na-header-wrapper .navbar {
  padding: 15px 0px;
}

#logo {
  font-size: 36px;
  position: relative;
  font-weight: bold;
  color: #fff;
}
#logo p {
  margin: 0;
  padding: 0;
}

#logo:hover {
  text-decoration: none;
  color: #cfcccc;
}

/* ==========================================================================================================
										Footer
   ========================================================================================================== */
.img-float-left {
  float: left;
}

.img-float-right {
  float: right;
}

.footer-outer {
  color: #9b9b9e;
  width: 100%;
  padding: 50px;
  height: 250px;
  background: #fff;
  overflow: hidden;
}

.footer-outer .footer-inner {
  width: 100%;
  height: inherit;
}

.footer-outer .social-icons-footer i {
  margin: 15px;
  font-size: 20px;
}

.footer-outer .social-icons-footer a:hover i {
  opacity: 0.6;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.footer-outer .footer-three-grid {
  margin: 0 auto;
  height: 50px;
  text-align: center;
}

.footer-outer .column-1-3 {
  padding-top: 10px;
  width: 20%;
  float: left;
  height: 50px;
  text-align: left;
}

.footer-outer .column-1-3 h1 {
  font-size: 38px;
  letter-spacing: 3px;
  position: relative;
  top: -5px;
  font-weight: 600;
  color: #fff;
}
.footer-outer .column-1-3 p {
  font-size: 38px;
  font-weight: 600;
  color: #000;
}

.footer-outer .column-2-3 {
  width: 60%;
  float: left;
  height: 50px;
}

.footer-outer .column-3-3 {
  width: 20%;
  float: left;
  height: 50px;
  text-align: right;
}

.footer-outer .column-3-3 a {
  color: #9b9b9e;
}

.footer-outer .column-3-3 a:hover {
  color: #9480f0;
}

.footer-outer .column-3-3 .social-icons-header a:hover {
  color: #fff;
  opacity: 1;
  -webkit-transition: color 0.2s ease;
  -o-transition: color 0.2s ease;
  transition: color 0.2s ease;
}

.footer-outer .footer-nav ul {
  list-style: none;
  text-align: center;
}

.footer-outer .footer-nav ul li {
  display: inline-block;
  line-height: 50px;
  color: #9b9b9e;
  margin: 0 30px;
  font-size: 14px;
}

.footer-outer .footer-nav ul li:hover {
  color: #fff;
  -webkit-transition: color 0.2s ease-in-out;
  -o-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

.footer-outer .footer-nav ul .active {
  color: #fff;
}

.footer-outer .footer-nav ul li a {
  color: #707073;
  text-decoration: none;
}

.footer-outer .footer-nav ul li a:hover {
  color: #9480f0;
}

.footer-outer .border-bottom-footer {
  height: 1px;
  width: 60%;
  margin: 0 auto;
  border: 1px solid #9b9b9e;
  display: block;
  margin-top: 50px;
}

.footer-outer .copyright {
  border-top: 1px solid #ddd;
  margin-top: 30px;
  color: #707073;
  text-align: center;
  font-size: 13px;
  padding: 40px 0;
}

/* ==========================================================================================================
										Menu
   ========================================================================================================== */
.navbar-light .navbar-nav .nav-link {
  color: #fff;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
  color: #fff;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  transition: all 0.33s ease;
  text-decoration: underline;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: #fff;
  text-decoration: underline;
}

.main-navbar-nav .nav-link {
  opacity: 1;
  margin: 0 20px;
  font-size: 15px;
  font-weight: 500;
}

.textWatch{
  color:#fff !important;
  margin-left: 20px;
  text-transform: uppercase;
  font-size: 14px;
}
.textWhy{
  color:#fff !important;
  margin-right: 25px;
  text-transform: uppercase;
  font-size: 14px;
}

/* ==========================================================================================================
										Block
   ========================================================================================================== */
/* Slider =========================================================================================================   */
.na-slider {
  text-align: center;
  margin-top: 110px;
  position: relative;
}

.na-slider > h1 {
  color: #fff;
  font-weight: 700;
  font-size: 60px;
  letter-spacing: 0px;
  max-width: 1200px;
  margin: auto;
}
.na-slider h2 {
  color: #fff;
  font-weight: 700;
  font-size: 50px;
  letter-spacing: 0px;
  max-width: 1200px;
  margin: 20px auto;
}

.na-slider span.sub-title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  display: block;
}

.na-slider .des,
.na-slider .text {
  color: #fff;
  padding-left: 0;
  padding-right: 30px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.na-slider .text {
  color: #fff;
  padding-left: 30px;
  padding-right: 0px;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  margin-top: 30px;
  margin-bottom: 30px;
}

.na-slider .ground-button {
  padding-top: 70px;
}

.na-slider .image-product {
  padding-top: 50px;
  animation-name: cam-animation;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: cam-animation;
  -webkit-animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.na-slider p {
  width: 400px;
  font-size: 14px;
  color: #fff;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 2em;
}

.specialContainer{
  width: 1200px;
  margin: auto;
}
.projectDescription{

  margin-top: 250px;
}
.projectDescription_title{
  text-align: center;
  text-decoration: underline;
  padding-bottom: 50px;
  color: #584ed1;
  font-size: 30px;
}
.projectDescription_div{
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}
.projectDescription_div_Image{
  width: 40%;
}
.projectDescription_div_Image img{
  width: 100%;
}
.projectDescription_div_desc{
  width: 55%;
}
.projectDescription_div_desc h3{
  font-size: 22px;
}
.projectDescription_div_desc ul li{
  font-weight: bold;
  margin: 7px 0;
}
.projectDescription_div_desc ul li ul{
  margin: 5px 20px;
 
}
.projectDescription_div_desc ul li ul li{
 
  font-weight: normal;
}
.sparkle-button {
  --active: 0;
  --bg: radial-gradient(
			40% 50% at center 100%,
			hsl(270 calc(var(--active) * 97%) 72% / var(--active)),
			transparent
		),
		radial-gradient(
			80% 100% at center 120%,
			hsl(260 calc(var(--active) * 97%) 70% / var(--active)),
			transparent
		),
		hsl(260 calc(var(--active) * 97%) calc((var(--active) * 44%) + 12%));
  background: transparent;
  font-size: 1.2rem;
  font-weight: 500;
  border: 0;
  cursor: pointer;
  padding: 1em 1em;
  display: flex;
  align-items: center;
  gap: 0.25em;
  white-space: nowrap;
  border-radius: 100px;
  position: relative;
  box-shadow: 0 0 calc(var(--active) * 3em) calc(var(--active) * 1em) hsl(260 97% 61% / 0.75),
		0 0em 0 0 hsl(260 calc(var(--active) * 97%) calc((var(--active) * 50%) + 30%)) inset,
		0 -0.05em 0 0 hsl(260 calc(var(--active) * 97%) calc(var(--active) * 60%)) inset;
  transition: box-shadow var(--transition), scale var(--transition), background var(--transition);
  scale: calc(1 + (var(--active) * 0.1));
  transition: .3s;
  margin-top: 30px;
   border: #584ed1 3px solid;
}

.sparkle-button:active {
  scale: 1;
  transition: .3s;
}

.sparkle path {
  color: hsl(0 0% calc((var(--active, 0) * 70%) + var(--base)));
  transform-box: fill-box;
  transform-origin: center;
  fill: currentColor;
  stroke: currentColor;
  animation-delay: calc((var(--transition) * 1.5) + (var(--delay) * 1s));
  animation-duration: 0.6s;
  transition: color var(--transition);
}

.sparkle-button:is(:hover, :focus-visible) path {
  animation-name: bounce;
}

@keyframes bounce {
  35%, 65% {
    scale: var(--scale);
  }
}

.sparkle path:nth-of-type(1) {
  --scale: 0.5;
  --delay: 0.1;
  --base: 40%;
}

.sparkle path:nth-of-type(2) {
  --scale: 1.5;
  --delay: 0.2;
  --base: 20%;
}

.sparkle path:nth-of-type(3) {
  --scale: 2.5;
  --delay: 0.35;
  --base: 30%;
}

.sparkle-button:before {
  content: "";
  position: absolute;
  inset: -0.2em;
  z-index: -1;
  border: 0.25em solid hsl(260 97% 50% / 0.5);
  border-radius: 100px;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.spark {
  position: absolute;
  inset: 0;
  border-radius: 100px;
  rotate: 0deg;
  overflow: hidden;
  mask: linear-gradient(white, transparent 50%);
  animation: flip calc(var(--spark) * 2) infinite steps(2, end);
}

@keyframes flip {
  to {
    rotate: 360deg;
  }
}

.spark:before {
  content: "";
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 0%;
  left: 50%;
  z-index: -1;
  translate: -50% -15%;
  rotate: 0;
  transform: rotate(-90deg);
  opacity: calc((var(--active)) + 0.4);
  background: conic-gradient(
		from 0deg,
		transparent 0 340deg,
		white 360deg
	);
  transition: opacity var(--transition);
  animation: rotate var(--spark) linear infinite both;
}

.spark:after {
  content: "";
  position: absolute;
  inset: var(--cut);
  border-radius: 100px;
}

.backdrop {
  position: absolute;
  inset: var(--cut);
  background: var(--bg);
  border-radius: 100px;
  transition: background var(--transition);
}

@keyframes rotate {
  to {
    transform: rotate(90deg);
  }
}

@supports(selector(:has(:is(+ *)))) {
  body:has(button:is(:hover, :focus-visible)) {
    --active: 1;
    --play-state: running;
  }

  .bodydrop {
    display: none;
  }
}

.sparkle-button:is(:hover, :focus-visible) ~ :is(.bodydrop, .particle-pen) {
  --active: 1;
  --play-state: runnin;
}

.sparkle-button:is(:hover, :focus-visible) {
  --active: 1;
  --play-state: running;
}

.sp {
  position: relative;
}

.particle-pen {
  position: absolute;
  width: 200%;
  aspect-ratio: 1;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  -webkit-mask: radial-gradient(white, transparent 65%);
  z-index: -1;
  opacity: var(--active, 0);
  transition: opacity var(--transition);
}

.particle {
  fill: white;
  width: calc(var(--size, 0.25) * 1rem);
  aspect-ratio: 1;
  position: absolute;
  top: calc(var(--y) * 1%);
  left: calc(var(--x) * 1%);
  opacity: var(--alpha, 1);
  animation: float-out calc(var(--duration, 1) * 1s) calc(var(--delay) * -1s) infinite linear;
  transform-origin: var(--origin-x, 1000%) var(--origin-y, 1000%);
  z-index: -1;
  animation-play-state: var(--play-state, paused);
}

.particle path {
  fill: hsl(0 0% 90%);
  stroke: none;
}

.particle:nth-of-type(even) {
  animation-direction: reverse;
}

@keyframes float-out {
  to {
    rotate: 360deg;
  }
}

.text {
  translate: 2% -6%;
  letter-spacing: 0.01ch;
  background: linear-gradient(90deg, hsl(0 0% calc((var(--active) * 100%) + 65%)), hsl(0 0% calc((var(--active) * 100%) + 26%)));
  -webkit-background-clip: text;
  color: transparent;
  transition: background var(--transition);
   color:#584ed1 !important;
 
}

.sparkle-button svg {
  inline-size: 1.25em;
  translate: -25% -5%;
}
/*  Advantages ===================================================================================================== */
.na-advantages-outer {
  padding-top: 120px;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.na-advantages-outer .box-title {
  text-align: center;
  display: block;
  font-size: 32px;
  color: #2f2f33;
  font-weight: 600;
  line-height: 46px;
  padding-bottom: 20px;
}

.na-advantages-outer .box-content {
  padding-top: 70px;
}

.na-advantages-outer .content-grid {
  padding-bottom: 30px;
  text-align: center;
}

.na-advantages-outer .grid-title {
  font-size: 16px;
  font-weight: 600;
  color: #2f2f33;
  padding-top: 25px;
  padding-bottom: 15px;
  margin: 0;
}

.na-advantages-outer .grid-desc {
  font-size: 14px;
  font-weight: 400;
  color: #727275;
  line-height: 24px;
}
.pdfImage {
  width: 100%;
  height: auto;
}
.pdfImageTable {
  width: 300px;
}
.deatilsTable {
 
  width: 60%;
  margin: auto;
   margin-bottom: 60px;
}

/*  Guide ===================================================================================================== */
.na-guide {
  margin-top: 40px;
  width: 100%;
  background: url("../img/guide-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 900px;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 90px 0 50px;
}

.na-guide .box-title {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 15px;
}

.na-guide p {
  max-width: 1000px;
  margin: auto;
  color: #fff;
}

.na-guide .container-full {
  padding: 60px 50px 40px;
}

.na-guide .item {
  padding: 15px 0px;
  margin: 0 10px;
}
.itemInside {
  padding: 0 !important;
  margin: 10px 10px;
}
/* .itemInsideSecond {
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;

} */
/* .title_and_time{
  display: flex !important;
  justify-content: space-between !important;
  align-items: space-between;
  display: none;
} */
.na-guide .item img {
  border-radius: 10px;
}

.na-guide .grid-video {
  padding-top: 15px;
}

.na-guide .grid-title {
  font-size: 18px;
  line-height: 22px;
  color: #fff !important;
  float: left;
  max-width: 80%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  text-transform: capitalize;
}

.na-guide .grid-title:hover {
  color: #dbdbdb;

  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.na-guide .timeDoubleActivePassive {
  float: right;
}

.clearFixTimeDoubleActivePassive {
  display: flex;
  justify-content: space-around;
}
.na-guide .video-load {
  display: block;
  font-size: 16px;
  margin: 10px auto;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

.na-guide .video-load:hover {
  text-decoration: underline;
}

.na-guide .image-video {
  cursor: pointer;
  position: relative;
}
.verticalImage {
  width: 40%;
  text-align: center;
}
.itemInsideSecond {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.na-guide .image-video:hover .btn-play-grid {
  opacity: 1;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.na-guide .btn-play-grid {
  opacity: 0;
  cursor: pointer;
  position: absolute;
  width: 50px;
  height: 50px;
  left: 0;
  right: 0;
  text-align: center;
  margin: -25px auto auto;
  top: 50%;
  border-radius: 100%;
  border: 1px solid #fff;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.desc_block,
.desc_blockVoltage,
.desc_blockActivePassive {
  color: #fff;
  font-size: 12px;
  margin-top: 7px;
  margin-bottom: 0;
}
.desc_block {
  width: 90%;
}
.desc_blockVoltage {
  width: 100%;
  margin-top: 30px;
  padding-top: 7px;
}
.desc_blockActivePassive {
  margin: auto;
  margin-top: 10px;
  width: 90%;
}
.author {
  font-size: 11px;
  color: #fff;
  width: 90%;
}
.authorVoltageCurrent {
  font-size: 11px;
  color: #fff;
  width: 90%;
  margin: auto;
  padding-top: 15px;
}
.title_and_time {
  width: 60%;
  margin: auto;
}

.na-guide .time,
.na-guide .timeDouble,
.na-guide .timeDoubleActivePassive {
  float: left;
  font-size: 12px;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 3px 5px;
  color: #fff;
}
.na-guide .time {
  float: right;
}
.na-guide .timeDouble {
  margin-top: 5px;
}

.gridTitleOf2Items {
  font-size: 15px !important;
  line-height: 22px;
  color: #fff !important;
  float: left;
  max-width: 100%;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.Items_preDriver {
  border: 3px dotted #fff;
  padding: 0;
  margin: 0;
}
.Items_preDriver .item {
  margin-bottom: 20px;
}

.Items_2 {
  display: flex;
  flex-direction: column;
  border: 3px dotted #fff;
  padding: 15px;
}
.Items_2_videos {
  display: flex;
}
.Items_2_title {
  text-align: left;
  color: #fff;
  width: 90%;
  margin: auto;
  font-size: 18px;
}
.Items_2_title span {
  font-style: italic;
}
.dottedItem {
  border: 3px dotted #fff;
  padding: 15px;
  margin: 0;
}
.dottedItem .image-video,
.clearfix {
  width: 90%;
  margin: auto;
}
.item {
  height: auto;
}
.itemWidth {
  border: 3px dotted #fff;
}

.imageMultiplexer,
.imageLowLeakage,
.imageVGA,
.imagePLL,
.imageCDR {
  width: 90%;
  margin: auto;
}

/* ==========================================================================================================
										FEATURES
   ========================================================================================================== */
.container {
  padding: 0;
  max-width: 1370px;
}
.na-features {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 90px;
}

.firstBigDesign {
  display: flex;
  justify-content: space-between;
  align-items: start;
}
.firstBigDesignImg {
  width: 60%;
  display: flex;
  flex-direction: column;
}
.firstBigDesignImg img {
  width: 100%;
  margin-bottom: 20px;
}
.firstBigDesignContent {
  width: 38%;
}

.na-features .des-box-right {
  margin-top: 33px;
  padding-left: 00px;
}

.na-features .des-box-left {
  margin-top: 120px;
  padding-right: 50px;
}

.na-features .img-box {
  margin-top: 40px;
}

.na-features .des-box p {
  color: #9b9b9e;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}

.na-features .des-box .list-content {
  padding-top: 10px;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  text-align: left;
}

.na-features .des-box .grid-image {
  width: 80%;
  border: 2px dotted red;
  padding: 3px;
}

.na-features .des-box .grid-inner {
  padding-top: 20px;
}

.na-features .des-box .grid-title {
  font-size: 18px;
}

.na-features .sub-title {
  color: #2f2f33;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.na-features .span-dots {
  position: absolute;
  right: 260px;
  top: 0px;
  margin: auto;
  width: 100px;
}

.na-features .des {
  position: absolute;
  display: block;
  left: 220px;
  top: 15px;
  margin: auto;
  width: 260px;
  background: #fff;
  box-shadow: 0px 0px 3px #cccc;
  font-size: 14px;
  padding: 20px;
  color: #000;
  opacity: 0.4;
}

.na-features .circle {
  border-radius: 50%;
  background-color: #6f55eb;
  width: 20px;
  height: 20px;
  position: absolute;
  left: -125px;
  top: -9px;
  opacity: 0;
  animation: scaleIn 4s infinite cubic-bezier(0.36, 0.11, 0.89, 0.32);
}
.secondaryImageContentOne {
  width: 100%;
}
.secondaryImageContentOne .headline {
  text-decoration: underline;
  width: 55%;
  margin: auto;
}

.secondaryImageContentOne {
  width: 100%;
}
.secondaryImageContentOne .headline {
  text-decoration: underline;
  width: 55%;
  margin: auto;
}
.secondaryImageContentOne .gridDeskColors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}
.secondaryImageContentOne .gridDeskColors h3 {
  color: red !important;
  font-size: 16px !important;
  width: 45%;
}
.secondaryImageContentOne .gridDeskColors :nth-child(1) {
  color: blue !important;
}
.secondaryImageContentOne .gridDeskColors :nth-child(2) {
  color: rgb(232, 232, 48) !important;
}
.secondaryImageContentOne .gridDeskColors :nth-child(3) {
  color: green !important;
}
.secondaryImageContentOne .gridDeskColors :nth-child(4) {
  color: aqua !important;
}
.secondaryImageContentOne .gridDeskColors :nth-child(5) {
  color: red !important;
 
}
.secondaryImageContentOne .gridDeskColors :nth-child(6) {
  color: rgb(99, 10, 75) !important;
}


.secondaryImageContentOne .gridDeskColorsSecond :nth-child(1) {
  color: red !important;
}
.secondaryImageContentOne .gridDeskColorsSecond :nth-child(2) {
  color: greenyellow  !important;
}
.secondaryImageContentOne .gridDeskColorsSecond :nth-child(3) {
  color: orange !important;
}
.secondaryImageContentOne .gridDeskColorsSecond :nth-child(4) {
  color: aqua !important;
}
.secondaryImageContentOne .gridDeskColorsSecond :nth-child(5) {
  color: green !important;
}
.secondaryImageContentOne .gridDeskColorsSecond :nth-child(6) {
  color: blue !important;
}





.secondaryImageContentOne .gridDeskColorsThird :nth-child(1) {
  color: aqua !important;
}
.secondaryImageContentOne .gridDeskColorsThird :nth-child(2) {
  color: orange  !important;
}
.secondaryImageContentOne .gridDeskColorsThird :nth-child(3) {
  color: blue !important;
}
.secondaryImageContentOne .gridDeskColorsThird :nth-child(4) {
  color: green !important;
}
.secondaryImageContentOne .gridDeskColorsThird :nth-child(5) {
  color: red !important;
}
.secondaryImageContentOne .gridDeskColorsThird :nth-child(6) {
  color: rgb(69, 10, 127) !important;
}

.secondaryImageContentTwo {
  width: 100%;
  padding: 10px 0 15px 0 !important;
}
.secondaryImageContentTwo .headline {
  text-decoration: underline;
}
.secondaryImageContentTwo .gridDeskColors {
  display: flex;
  justify-content: flex-start;

  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}
.secondaryImageContentTwo .gridDeskColors h3 {
  color: red !important;
  font-size: 16px !important;
  width: 100%;
  text-transform: capitalize;
}
.secondaryImageContentTwo .gridDeskColors :nth-child(1) {
  color: red !important;
}
.secondaryImageContentTwo .gridDeskColors :nth-child(2) {
  color: #dddf31 !important;
}
.secondaryImageContentTwo .gridDeskColors :nth-child(3) {
  color: #bb18bb !important;
}

.secondaryImageContentTwo .gridDeskColors :nth-child(5) {
  color: red !important;
  text-align: center;
  width: 70%;
}
@keyframes scaleIn {
  from {
    transform: scale(0.5, 0.5);
    opacity: 0.5;
  }
  to {
    transform: scale(2.5, 2.5);
    opacity: 0;
  }
}

/* ==========================================================================================================
										REVIEWS
   ========================================================================================================== */
.na-reviews {
  margin-top: 90px;
  width: 100%;
  background: url("../img/review-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 730px;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 90px 0 90px;
  text-align: center;
}
.workItem{
 
  

}
.na-reviews .img-quotes {
  padding-bottom: 30px;
}

.na-reviews .box-title {
  font-size: 32px;
  color: #fff;
  font-weight: 600;
  padding-bottom: 15px;
}

.na-reviews .item-author {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-align-content: stretch;
  -ms-flex-line-pack: stretch;
  align-content: stretch;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top: 1px solid #dddd;
  margin-top: 30px;
  padding: 30px 0px 0;
}

.na-reviews p {
  max-width: 800px;
  margin: auto;
  font-size: 14px;
  color: #ffff;
  padding-bottom: 60px;
}

.na-reviews .item {
  background: #fff;
  border-radius: 5px;
  margin: 0 15px;
  text-align: center;
  padding: 40px;
  margin: auto;
  width: 60%;
}

.na-reviews .about-author {
  text-align: left;
  padding-left: 30px;
}

.na-reviews .testimonial-desc {
  font-size: 14px;
  color: #9b9b9e;
  padding-bottom: 0;
}

.na-reviews .name-author {
  display: block;
  color: #1676f2;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
}

.na-reviews .position-author {
  display: block;
  padding-top: 3px;
  font-size: 14px;
  color: #9b9b9e;
}

.na-reviews .owl-theme .owl-dots .owl-dot {
  margin-top: 20px;
}

.na-reviews .img-author {
  max-width: 70px;
  border-radius: 100%;
}

.na-reviews .owl-carousel .owl-item img.img-quotes {
  width: auto;
  text-align: center;
  display: inline-block;
}

/* ==========================================================================================================
										SERIVICE
   ========================================================================================================== */
.na-service .box-left {
  text-align: center;
  width: 50%;
  float: left;
  background: url("../img/serviceleft-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 540px;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 90px 0 90px;
}

.na-service .box-right {
  text-align: center;
  width: 50%;
  float: left;
  background: url("../img/serviceright-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 540px;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 90px 0 90px;
}

.na-service .box-inner {
  max-width: 600px;
  margin: auto;
  color: #fff;
}

.na-service .grid-inner {
  padding-top: 20px;
}

.na-service .grid-title {
  font-size: 32px;
}

.na-service .grid-desc {
  padding-bottom: 20px;
  margin-top: 30px;
  font-size: 20px;
}

.na-service .btn-link {
  padding: 10px 30px;
}

/* ==========================================================================================================
										LIST PRODUCTS
   ========================================================================================================== */
.na-products {
  padding: 90px 0 20px 0;
}

.na-products .item {
  margin: 0 15px;
}

.na-products .name-product {
  line-height: 22px;
  font-size: 14px;
  padding-bottom: 10px;
}

.na-products .price-product {
  color: #d51c22;
  font-size: 16px;
  font-weight: 500;
}

.na-products .owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 30px;
}

.na-products .owl-theme .owl-dots .owl-dot.active span,
.na-products .owl-theme .owl-dots .owl-dot:hover span {
  background: #6f55eb;
}
.itemProduct {
  margin-top: 40px !important;
  text-align: left;
}
.itemProduct img {
  width: 40% !important;
}

/* ==========================================================================================================
										Request Form
   ========================================================================================================== */
.na-form {
  width: 100%;
  background: url("../img/form-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 90px 0 90px;
}

.requestForm {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.na-form .box-title {
  color: #fff;
  padding-bottom: 10px;
}

.na-form p {
  color: #fff;
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 24px;
}
.box-desc {
  color: #fff;
  margin-bottom: 50px;
  font-size: 15px;
  line-height: 24px;
  width: 35%;
}

.na-form input {
  width: 100%;
  height: 46px;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #bca8f4;
  background: transparent;
  color: #fff;
  font-size: 14px;
  box-shadow: none;
}

.na-form ::-webkit-input-placeholder {
  color: #fff;
}

.na-form :-ms-input-placeholder {
  color: #fff;
}

.na-form ::placeholder {
  color: #fff;
}

.na-form textarea {
  box-shadow: none;
  width: 100%;
  padding: 5px 10px;
  min-height: 200px;
  margin-bottom: 15px;
  border: 1px solid #bca8f4;
  background: transparent;
  color: #fff;
  font-size: 14px;
}

.na-form .padding-let-sm {
  padding-left: 100px;
}

.na-form .ground-information {
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.na-form .itemIco {
  width: 100%;
  display: flex;

  justify-content: flex-start;

  align-content: center !important;

  background: #9480f0;
  margin-bottom: 20px;
  padding: 30px;
  border: 2px solid #ccc;
}

.na-form .itemIco i {
  margin-right: 10px;

  font-size: 20px;
  transition: 0.4s;
}

.na-form .itemIco:hover {
  background: #fff;
  border: 2px solid #9480f0;

  color: #9480f0;
}

.na-form .name {
  text-transform: uppercase;
  display: block;
  font-weight: 500;
  margin-left: 5px;
}

.na-form .des {
  font-size: 14px;
  margin-left: 5px;
}

.na-form .btn-submit {
  background: #9480f0;
  text-transform: uppercase;
  height: 50px;
  border: 1px solid #9480f0;
  cursor: pointer;
  font-weight: 500;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.na-form .btn-submit:hover,
.na-form .btn-submit:active,
.na-form .btn-submit:focus {
  background: #fff;
  border: 1px solid #fff;
  color: #9480f0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.divFieldButton {
  width: 100%;
  margin: auto;
}
.fieldButton {
  width: 100%;
}

.contactRequest {
  width: 32%;
}

.contactItems {
  display: flex;
  justify-content: space-between;
  align-items: start;
  flex-wrap: wrap;
  width: 65%;
}
.contactItems .contactItem {
  width: 49%;
  padding: 30px 5px 30px 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  border-radius: 5px;
}
.ISLAM {
  width: 100% !important;
}
.contactItems .contactItem .contactItemImage {
  width: 30%;
}
.contactItems .contactItem .contactItemImage img {
  width: 100%;
  padding: 4px;
  border-radius: 50%;
  border: 2px solid #6648f5d6;
  transition: 0.3s;
}
.contactItems .contactItem .contactItemImage img:hover {
  transform: scale(1.1);
}
.contactItems .contactItem .contactItemContent {
  width: 65%;
}
.contactItems .contactItem .contactItemContent h3 {
  font-weight: bold;
  font-size: 16px;
}

.contactItemContentParagraph {
  margin-bottom: 0.7rem !important;
  color: #867c7c !important;
  line-height: 20px !important;
  font-size: 12px !important;
}
.contactItemContentSocialIcons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.contactItemContentSocialIcons .contactItemContentSocialIconIcon a{
  display: flex;
  justify-content: flex-start;
  align-items: center;
 color: #fff !important;
}

.contactItemContentSocialIcons .contactItemContentSocialIconIcon {
  margin-left: 15px;
  font-size: 13px;
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background-color: #6648f5d6;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #6648f5d6;
  transition: 0.3s;
}
.contactItemContentSocialIcons .contactItemContentSocialIconIcon:hover {
  transform: scale(1.2);
  background-color: #fff;
  color: #6648f5d6 ;
}
.contactItemContentSocialIcons .contactItemContentSocialIconIcon:hover a{
 
  color: #6648f5d6 !important;
}
.contactItemContentSocialIcons :nth-child(1) {
  margin-left: 0px;
}

/* ==========================================================================================================
										SUB FOOTER
   ========================================================================================================== */
.na-subfooter {
  width: 100%;
  background: url("../img/subbottom-bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  left: 0;
  top: 0;
  z-index: 1;
  padding: 400px 0 300px;
}

.na-subfooter .box-title {
  font-weight: 700;
}

.na-subfooter .box-title span {
  color: #1676f2;
}

.na-subfooter p {
  max-width: 800px;
  margin: 0 auto 50px;
  font-size: 16px;
  color: #9b9b9e;
}

.na-subfooter .btn-primary {
  padding: 10px 20px;
  font-size: 14px;
  margin: auto;
  display: block;
  max-width: 180px;
  text-transform: uppercase;
}

.na-subfooter .btn-primary:hover,
.na-subfooter .btn-primary:focus {
  text-decoration: none;
}

.na-subfooter .address {
  margin-top: 30px;
  font-size: 24px;
  color: #ef4350;
  padding-bottom: 5px;
  font-weight: 500;
}

.na-subfooter .des {
  font-size: 14px;
  color: #9b9b9e;
}

/* Slider =========================================================================================================   */
/*Cam Animation*/
@-webkit-keyframes cam-animation {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-25px);
    transform: translateY(-25px);
  }
}

@keyframes cam-animation {
  0% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
  50% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px);
  }
  100% {
    -webkit-transform: translateY(-20px);
    transform: translateY(-20px);
  }
}

/* ==========================================================================================================
										Form
   ========================================================================================================== */
.btn-link {
  padding: 10px 20px;
  border-radius: 5px;
  background: #fff;
  color: #2f2f33;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #fff;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.btn-link:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.btn-primary {
  color: #fff;
  background-color: #6f55eb;
  border-color: #6f55eb;
  border-radius: 5px;
}

.btn-play {
  cursor: pointer;
  text-align: center;
  width: 90px;
  height: 90px;
  border-radius: 100%;
  background: #fff;
  color: #2f2f33;
  font-size: 14px;
  font-weight: 600;
  border: 1px solid #fff;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.btn-play .fa {
  font-size: 22px;
  color: #1676f2;
}

.btn-play:hover {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
  text-decoration: none;
  -webkit-transition: all 0.33s ease;
  -moz-transition: all 0.33s ease;
  -o-transition: all 0.33s ease;
  -ms-transition: all 0.33s ease;
  transition: all 0.33s ease;
}

.btn-play:hover .fa {
  color: #fff;
}

/* ==========================================================================================================
										Other
   ========================================================================================================== */
.google-play-btn {
  margin-left: 10px;
}

/* ==========================================================================================================
										Responsive
   ========================================================================================================== */
@media (max-width: 1440px) {
  body {
    overflow-x: hidden;
  }
  /* .na-features .img-float-left {
    transform: translateX(-20%);
    max-width: 700px;
  }
  .na-features .img-float-right {
    transform: translateX(20%);
    max-width: 700px;
  }
  .na-features .span-dots {
    left: 140px;
  }
  .na-features .des {
    left: 15px;
  }
  .na-subfooter {
    padding: 150px 0 100px;
  }
  .na-guide {
    height: 700px;
  }
  .na-guide .container-full {
    padding: 40px 50px 20px;
  }
  .na-reviews {
    height: 720px;
  }
  .na-products {
    padding: 90px 0 70px;
  }
  .na-features .img-float-right {
    margin-top: 50px;
  }
  .na-features .des-box-left {
    margin-top: 90px;
  } */
}

@media (max-width: 1200px) {
  body {
    overflow-x: hidden;
  }
  .na-slider > h1 {
    font-size: 50px;
  }
  .na-slider .image-product {
    max-width: 800px;
  }
  .na-advantages-outer {
    padding-top: 200px;
  }
  .na-subfooter {
    padding: 200px 0 150px;
  }
  .footer-outer .column-3-3 {
    text-align: center;
  }
}

@media (max-width: 1024px) {
  /* .na-features .img-float-left {
    transform: translateX(-10%);
    max-width: 500px;
  }
  .na-features .img-float-right {
    transform: translateX(10%);
    max-width: 500px;
  }
  .na-features .img-box {
    margin-top: 100px;
  }
  .na-features .des-box-right,
  .na-features .des-box-left {
    margin-top: 0px;
  } */
  .na-reviews {
    height: 650px;
    padding: 50px 0 50px;
  }
}

@media (max-width: 993px) {
  body {
    overflow-x: hidden;
  }
  .navbar-light .navbar-toggler {
    padding: 0px;
    border: 1px solid transparent;
    outline: none;
  }
  .navbar-light .navbar-toggler:hover .icon-toggler,
  .navbar-light .navbar-toggler:focus .icon-toggler,
  .navbar-light .navbar-toggler:active .icon-toggler {
    background: #ccc;
  }
  .navbar-light .navbar-toggler-icon {
    color: #fff;
  }
  .navbar-toggler .icon-toggler {
    color: #fff;
    width: 30px;
    height: 3px;
    background: #fff;
    display: block;
    position: relative;
    margin: 7px 0;
    outline: none;
  }
  .navbar-light .navbar-collapse {
    background: #fff;
    color: #9b9b9e;
    padding-bottom: 30px;
    margin-top: 30px;
  }
  .navbar-light .navbar-collapse .nav-link {
    color: #9b9b9e;
    padding: 20px 0;
    border-bottom: 1px dotted #ddd;
    font-weight: 400;
    font-size: 14px;
  }
  .navbar-light .navbar-collapse .nav-link:hover,
  .navbar-light .navbar-collapse .nav-link:active,
  .navbar-light .navbar-collapse .nav-link:focus {
    color: #9480f0;
  }
  .navbar-light .navbar-collapse .btn-header {
    margin-top: 30px;
    text-align: center;
  }
  .navbar-light .navbar-collapse .btn-header .btn-link {
    background: #9480f0;
    color: #fff;
  }
  .navbar-light .navbar-collapse .nav-item:hover a,
  .navbar-light .navbar-collapse .nav-item:active a,
  .navbar-light .navbar-collapse .nav-item:focus a {
    color: #9480f0;
  }
  .navbar-light .navbar-collapse .active > .nav-link {
    color: #9480f0;
  }
  .na-slider .image-product {
    max-width: 700px;
  }
  /* .na-features .box-md-6 {
    width: 100%;
    float: none;
    position: relative;
  }
  .na-features .img-float-left {
    transform: translateX(0%);
    max-width: 500px;
    margin: auto;
    float: none;
  }
  .na-features .span-dots {
    left: 0;
    right: 0;
    top: 50%;
  }
  .na-features .des {
    left: 0;
    right: 0;
    top: 40px;
    margin: auto;
  }
  .img-box {
    text-align: center;
  }
  .na-features .des-box-right {
    margin-top: 50px;
  }
  .footer-outer .footer-nav ul li {
    margin: 0 10px;
  }
  .footer-outer .social-icons-footer i {
    margin: 15px 10px;
    font-size: 20px;
  }
  .na-features-grid-columns.box-2 {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .na-features-grid-columns.box-2 .des-box {
    margin-top: 50px;
    -webkit-order: 2;
    -ms-flex-order: 2;
    order: 2;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
   
  }
  .na-features-grid-columns.box-2 .img-box {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
       
  }
  .na-features .img-float-right {
    transform: translateX(0%);
    max-width: 500px;
    margin: auto;
    float: none;
  } */
  .na-form .padding-let-sm {
    padding-left: 15px;
    padding-top: 50px;
  }
  .column-2-3 .footer-nav {
    display: none;
  }
  .na-guide {
    height: 610px;
    padding: 50px 0 50px;
  }
  .na-reviews {
    height: 610px;
    padding-bottom: 40px;
  }
  .na-reviews p {
    max-width: 600px;
    padding-bottom: 30px;
  }
  .na-products {
    padding: 50px 0 50px;
  }
}

@media (max-width: 640px) {
  #na-header-wrapper .navbar {
    padding: 0;
  }
  .navbar-light .navbar-collapse {
    margin-top: 0;
    margin-bottom: 15px;
  }
  .na-slider > h1 {
    font-size: 32px;
  }
  .na-slider .des,
  .na-slider .text {
    display: none;
  }
  .na-slider .image-product {
    max-width: 400px;
  }
  .na-slider .image-product {
    padding-top: 70px;
  }
  #na-header-wrapper {
    height: 650px;
  }
  .na-advantages-outer .box-title {
    font-size: 20px;
    line-height: 28px;
    max-width: 90%;
    margin: auto;
  }
  .na-advantages-outer {
    padding-top: 100px;
  }
  .na-advantages-outer .content-grid {
    padding-bottom: 30px;
    text-align: center;
  }
  .na-advantages-outer .box-grid {
    text-align: center;
  }
  .footer-outer .column-1-3,
  .footer-outer .column-3-3 {
    width: 100%;
  }
  .footer-outer .column-1-3 {
    padding-top: 10px;
    height: 50px;
    text-align: center;
  }
  .na-form {
    padding: 50px 0 50px;
  }
  .na-slider {
    margin-top: 90px;
  }
  .na-guide p {
    max-width: 400px;
    font-size: 14px;
  }
  /* .na-features .des-box-right {
    padding-left: 0px;
  }
  .na-features .des-box-left {
    padding-right: 0px;
  }
  .na-reviews {
    height: 670px;
  }
  .na-subfooter {
    padding: 100px 0 50px;
  }
  .na-features .sub-title {
    font-size: 26px;
  }
  .na-features .img-float-right {
    max-width: 400px;
  } */
  .box-2 .img-box {
    margin-top: 50px;
  }
  .na-guide p,
  .na-reviews p {
    max-width: 340px;
    font-size: 14px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .na-guide .container-full {
    padding: 40px 50px 0px;
  }
  /* .na-features .des-box p {
    text-align: center;
  }
  .na-features .sub-title {
    text-align: center;
  }
  .na-features .des-box .list-content {
    text-align: center;
    display: block;
  }
  .na-features .des-box .grid-title {
    font-size: 20px;
    padding: 20px 0 5px;
  }
  .na-features .des-box .grid-inner {
    padding-left: 0px;
  }
  .na-features .des-box p {
    color: #9b9b9e;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  } */
}

@media (max-width: 380px) {
  .na-slider .image-product {
    max-width: 350px;
  }
  /* .na-features .img-float-left {
    max-width: 370px;
  }
  .na-features .img-float-right {
    max-width: 370px;
  } */
  .na-reviews {
    height: 780px;
  }
  .na-products .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .na-products {
    padding: 50px 0;
  }
  .na-slider {
    margin-top: 30px;
  }
  .na-guide p,
  .na-reviews p {
    max-width: 340px;
    font-size: 14px;
  }
  .owl-theme .owl-nav.disabled + .owl-dots {
    margin-top: 0;
  }
  .na-guide .container-full {
    padding: 40px 50px 0px;
  }
  /* .na-features .des-box p {
    text-align: center;
  }
  .na-features .sub-title {
    text-align: center;
  }
  .na-features .des-box .list-content {
    text-align: center;
    display: block;
  }
  .na-features .des-box .grid-title {
    font-size: 20px;
    padding: 20px 0 5px;
  }
  .na-features .des-box .grid-inner {
    padding-left: 0px;
  }
  .na-features .des-box p {
    color: #9b9b9e;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
  } */
  .na-reviews {
    height: 715px;
  }
}
